body{
  background-color: black;
  color: white;
  animation-fill-mode: forwards;
}
.hi{
  margin-left: 400px;
}
.hello{

  margin-left: 140px;
}
img{
  border: 5px solid deeppink;
}
.lol{
  animation-name: example;
  animation-duration: 15s;
  margin-top: 50px;
  color: black;
}
.ri{
  margin-left: 580px;
}
p{
  margin-left: 350px;
}
@keyframes example {
  from {background-color: cyan;}
  to {background-color: yellow;}
}
h2{
  margin-left: 530px;
}
